workflows/wiki-agent-langchain.json
{
  "name": "Wiki AI Agent (Git)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wiki-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "wiki-agent-git"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst { execSync } = require('child_process');\n\nconst repoPath = '/tmp/wiki-repo';\nconst repoUrl = 'https://github.com/gabytal/n8n-llm-wiki-agent-workshop.git';\n\ntry {\n  if (fs.existsSync(repoPath + '/.git')) {\n    execSync(`cd ${repoPath} && git pull --ff-only`, { encoding: 'utf-8' });\n  } else {\n    execSync(`git clone ${repoUrl} ${repoPath}`, { encoding: 'utf-8' });\n  }\n  const indexPath = path.join(repoPath, 'index.html');\n  const wikiIndex = fs.existsSync(indexPath) ? fs.readFileSync(indexPath, 'utf-8') : '';\n  return [{ json: { ...$input.first().json, repoPath, wikiIndex, status: 'ready' } }];\n} catch (err) {\n  return [{ json: { ...$input.first().json, repoPath, wikiIndex: '', status: 'error', error: err.message } }];\n}"
      },
      "id": "sync-repo",
      "name": "Sync Wiki Repo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "=You are a knowledge base assistant for the LLM Wiki workshop. Answer questions ONLY using the wiki content provided through the tools. The wiki is structured into:\n- concepts/ : LLM Wiki pattern concepts\n- entities/ : people, tools, systems\n- sources/ : original articles and references\n- analysis/ : meta-analysis\n\nBelow is a curated INDEX of the knowledge base with one-line descriptions of every page. Use it to pick the most relevant file(s) directly — you usually do NOT need to call list_wiki_files first.\n\n--- WIKI INDEX ---\n{{ $json.wikiIndex }}\n--- END INDEX ---\n\nALWAYS:\n1. Use the INDEX above to identify which page(s) likely contain the answer\n2. Call read_wiki_page with the relative path (e.g. 'concepts/llm-wiki-pattern.md') to load the full content\n3. Only call list_wiki_files if the INDEX doesn't cover the topic\n4. Cite sources using [filename.md] format in your answer\n5. If the answer isn't in the wiki, reply: \"I don't know - not in knowledge base\""
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "id": "claude-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        624,
        512
      ],
      "credentials": {
        "anthropicApi": {
          "id": "MlAfS2iaTQ1h70VI",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "description": "List all available wiki markdown files with their relative paths and sizes. No input needed. Call this first to discover what content exists.",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\ntry {\n  const wikiDir = '/tmp/wiki-repo/wiki';\n  const files = fs.readdirSync(wikiDir, { recursive: true });\n  const mdFiles = files.filter(f => typeof f === 'string' && f.endsWith('.md'));\n  const fileList = mdFiles.map(f => {\n    const fullPath = path.join(wikiDir, f);\n    const stats = fs.statSync(fullPath);\n    const sizeKb = (stats.size / 1024).toFixed(1);\n    return `- ${f} (${sizeKb}KB)`;\n  }).join('\\n');\n  return `Found ${mdFiles.length} wiki files:\\n${fileList}`;\n} catch (error) {\n  return `Error: ${error.message}`;\n}"
      },
      "id": "tool-list",
      "name": "Tool: List Files",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        832,
        624
      ]
    },
    {
      "parameters": {
        "description": "Read the full content of a specific wiki page by relative path. Input MUST be a JSON object with key 'filename' containing a path like 'concepts/llm-wiki-pattern.md' or 'entities/andrej-karpathy.md'.",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst filename = (typeof query === 'string' ? query : (query && query.filename) || '').trim();\n\ntry {\n  if (!filename) return 'Error: filename is required';\n  const wikiDir = '/tmp/wiki-repo/wiki';\n  const candidates = [\n    path.join(wikiDir, filename),\n    path.join(wikiDir, filename.endsWith('.md') ? filename : filename + '.md')\n  ];\n  for (const p of candidates) {\n    if (fs.existsSync(p) && fs.statSync(p).isFile()) {\n      return `Content of ${filename}:\\n\\n` + fs.readFileSync(p, 'utf-8');\n    }\n  }\n  return `Error: File \"${filename}\" not found in wiki.`;\n} catch (error) {\n  return `Error: ${error.message}`;\n}"
      },
      "id": "tool-read",
      "name": "Tool: Read Page",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        944,
        624
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"answer\": $json.output } }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        976,
        304
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sync Wiki Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Wiki Repo": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: List Files": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Read Page": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
